@charset "utf-8";

body.titlepage {
  margin: 0;
}
.frontmatter {
  width: 100%;
  /*text-align: center;*/
  /*background-color: blue;*/
}
/* Your title styling */
p._NORMAL---title {
  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: {{TITLE_FONT_SIZE}};
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
/* Positioning that maps well to BOTH:
   - Calibre viewer: viewport
   - Prince: page */
.titlepos {
  position: fixed;
  left: 0;
  right: 0;
  top: 35%;
  /* adjust this number to move up/down */
  transform: translatey(-50%);
}
