@charset "utf-8";
/* @font-face {
  src: url(../fonts/Adobe_Garamond_Pro_Regular.ttf);
  font-family: "Adobe Garamond Pro";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../fonts/Adobe_Garamond_Pro_Italic.ttf);
  font-family: "Adobe Garamond Pro";
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
} */
body.titlepage {
  margin: 0;
}
.frontmatter {
  width: 100%;
  /*text-align: center;*/
  /*background-color: blue;*/
}
/* Your title styling */
p._NORMAL---title {
  color: #000;
  font-family: "Adobe Garamond Pro", serif;
  font-size: 1.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
/* Positioning that maps well to BOTH:
   - Calibre viewer: viewport
   - Prince: page */
.titlepos {
  position: fixed;
  left: 0;
  right: 0;
  top: 35%;
  /* adjust this number to move up/down */
  transform: translatey(-50%);
}
