@charset "utf-8";

@media screen {
  .digital-only {
    display: block !important;
  }
  .print-only {
    display: none !important;
  }
  .bigTitleBody {display: none !important;}
  .taulaBody {display: none !important;}
  .insideCoverPrint {display: none !important;}
  .copyright-block, .copyright-block p {
    font-family: "Times New Roman", serif !important;
  }
  .copyright-block {
    margin-top: 0em !important;
    margin-right: 0em !important;
    text-align: left !important;
  }

  .chapterNumberBlock {
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1.5em;
  }
  .chapterBody h1,
  .chapterBody p {
    font-family: "Times New Roman", serif !important;
  }
}